:root {
  /* color */
  --brown-Color: #ce7852;
  --dark-black-Color: #191919;
  --grey-light-Color: #f6f6f6;
  --grey-Color: #686767;
  --black-Color: #333333;
  --white-Color: #ffffff;

  /* size */
  --padding: 24px;

  /* font size */
  --font-giant: 48px;
  --font-large: 24px;
  --font-medium: 18px;
  --font-small: 12px;
  --bold: 700;
  --semi-bold: 500;
  --regular: 400;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
}

header {
  width: auto;
  height: 400px;
  background-size: 100%;
  background-image: url('../img/background2_700.jpg');
  background-attachment: fixed;
}

header div {
  position: absolute;
  top: 200px;
  right: 50%;
  z-index: 1;
  font-size: var(--font-large);
  font-weight: var(--bold);
  color: white;
}

/* search */
.search-result-list td a:hover {
  text-decoration: none;
}

.book-shortinfo .book-title {
  font-weight: var(--bold);
  color: var(--black-Color);
  font-size: var(--font-large);
}

.book-shortinfo .book-author,
.book-publisher,
.book-publish-date,
.book-salespoint {
  font-size: var(--font-medium);
  font-weight: var(--regular);
  color: var(--black-Color);
}

.book-shortinfo .book-price {
  font-size: var(--font-medium);
  font-weight: var(--semi-bold);
  color: var(--brown-Color);
}

.search-result-list {
  background-color: var(--grey-light-Color);
  padding: 70px 0 70px 0;
}

.search-result {
  width: 1080px;
  height: 340px;
  background-color: var(--white-Color);
  padding: 45px 60px;
  margin-bottom: 30px;
}

.search-result:hover {
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
  transition: all 500ms ease;
}

.search-result img {
  width: 240px;
  height: auto;
  border-radius: 10%;
}
