/* color */
$brown-Color: #ce7852;
$dark-black-Color: #191919;
$black-Color: #333333;
$grey-Color: #686767;
$grey-light-Color: #f6f6f6;
$white-Color: #ffffff;

/* font size */
$font-giant: 36px;
$font-large: 24px;
$font-medium: 16px;
$font-small: 12px;

/* font weight */
$bold: 700;
$semi-bold: 500;
$regular: 400;

* {
  font-family: "Noto Sans KR", sans-serif;
  padding: 0;
  margin: 0;

  .slider {
    .carousel-item {
      .carousel-caption {
        h5 {
          font: {
            size: $font-giant;
            weight: $bold;
          }
        }
        a {
          font: {
            size: $font-large;
            weight: $semi-bold;
          }
          color: $white-Color;
        }
        p {
          padding-bottom: 150px;
        }
      }
    }
  }

  .bestseller {
    h2 {
      color: $brown-Color;
      font-weight: $bold;
    }
    a {
      &:hover {
        text-decoration: none;
      }
      img {
        max-width: 100%;
        height: 340px;
        opacity: 1;
        transition: 0.5s ease;
        backface-visibility: hidden;
        &:hover {
          opacity: 0.3;
        }
      }
      div {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        &:hover {
          opacity: 1;
        }
      }
      h5 {
        color: $black-Color;
        font-weight: $bold;
      }
      p {
        color: $grey-Color;
        font-size: $font-medium;
      }
    }
  }
}
